In [87]:
from pyspark.sql.functions import lit, col, round as spark_round, sum as spark_sum

In [88]:
from enquire.vendetta import Ophelia

In [89]:
def factor_weights(gender, age, education, occupation, marital):
    return [gender, age, education, occupation, marital]

In [90]:
W = factor_weights(
    gender=0.35,
    age=0.31,
    education=0.25,
    occupation=0.15,
    marital=0.09
)

In [91]:
ophelia = Ophelia(W=W)
#tree = TreeGenerator(ophelia)

========================================================================
-Ophelia: ¡Hullo! My Name Is Ophelia, I Am Pleased To Meet You     [...]
-Ophelia: I Am An Artificial Assistant For Intelligent Investment  [...]
-Ophelia: Welcome To Your Asset Allocation System                  [...]


-Ophelia: V For VenData                                            [...]
========================================================================

                    - By. Vendetta Gentleman Club -

                         - Author. @LuisFalva -

      █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █
      █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
      █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ █
      █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █
      █ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
      █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ █
      █ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ █ █ ╬ ╬ ╬ █ ╬ ╬ ╬ █ █ ╬ ╬ ▓ ▓ ▓ ▓ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █
      █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █
      █ █ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ █ █
      █ █ ╬ ╬ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ ╬ ╬ █ █
      █ █ ╬ ╬ ▓ █ █ █ ╬ ╬ ╬ █ █ █ █ ╬ █ █ █ █ ╬ ╬ ╬ █ █ █ ▓ ╬ ╬ █ █
      █ █ █ ╬ ╬ ▓ ▓ █ █ █ █ █ █ █ ╬ ╬ ╬ █ █ █ █ █ █ █ ▓ ▓ ╬ ╬ █ █ █
      █ █ █ ╬ ╬ ╬ ╬ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ▓ ╬ ╬ ╬ ╬ █ █ █
      █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █
      █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █
      █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █
      █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █
      █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █
      █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ ╬ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █
      █ █ █ █ █ █ █ █ █ █ █ ╬ ╬ ╬ ╬ █ ╬ ╬ ╬ ╬ █ █ █ █ █ █ █ █ █ █ █
      █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █ █

========================================================================
-Ophelia[INFO]: Initializing Spark Session [...]
-Ophelia[INFO]: Spark Session Initialized, Version: 2.4.5 [...]
-Ophelia[WARN]: Please, Be Aware To Set App Name Next Time [...]
========================================================================
-Ophelia[INFO]: Initializing Spark Context [...]
-Ophelia[INFO]: Spark Context Initialized Successfully [...]
========================================================================

In [92]:
class CustomerObject(object):
    
    def __init__(self, gender, age, marital, education, job):
        """
        Constructor object for input parameters.
        :param NAME_PARAM: "DESCRIPTION HERE"        
       """
        self.gender = gender
        self.age = age
        self.marital = marital
        self.education = education
        self.job = job

In [93]:
def collect_data_structure(customer_object):
    key = ophelia.key
    customer_tree = ophelia.demograph.tree_generator(customer_object)
    compute_probability = ophelia.demograph.probability_label(customer_tree)
    new_structure = []
    for k in compute_probability:
        new_structure.append(
            {key.gender: customer_object.gender,
             key.age: customer_object.age,
             key.education: customer_object.education,
             key.marital: customer_object.marital,
             key.occupation: customer_object.job,
             key.prob: compute_probability[k],
             key.risk_label: k})
    return new_structure

In [94]:
def object_to_dataframe(customer_object):
    key = ophelia.key
    new_customer_structure = collect_data_structure(customer_object)
    new_customer_df = ophelia.spark.createDataFrame(new_customer_structure)
    return new_customer_df.withColumn(key.id, lit(key.index))

def tree_to_dataframe(customer_object):
    tree_object = ophelia.demograph.tree_generator(customer_object)
    customer_tree_df = ophelia.spark.createDataFrame(tree_object)
    return customer_tree_df

In [95]:
def join_tree(tree_df, structure_df, how="left"):
    key = ophelia.key
    join_tree_customer = tree_df\
    .join(structure_df, on=key.risk_label, how=how)\
    .select("*", (col(key.weight) * col(key.prob)).alias(key.weighted_prob))\
    .select("*", (col(key.vote) + col(key.weighted_prob)).alias(key.final_vote))
    return join_tree_customer

def group_tree(join_df):
    key = ophelia.key
    group_tree_customer = join_df\
    .groupBy(key.grouping)\
    .agg(spark_round(spark_sum(key.final_vote)).alias(key.final_vote),
         spark_sum(key.vote).alias(key.vote),
         spark_sum(key.weight).alias(key.weight),
         spark_sum(key.prob).alias(key.prob),
         spark_sum(key.weighted_prob).alias(key.weighted_prob))
    return group_tree_customer

def filter_max_vote(group_df):
    key = ophelia.key
    max_filter_vote = group_df.groupBy().agg({key.vote: "max"}).collect()[0][0]
    max_vote = group_df.where(col(key.vote) == max_filter_vote)
    max_filter_weight = max_vote.groupBy().agg({key.weight: "max"}).collect()[0][0]
    customer_df = max_vote.where(col(key.weight) == max_filter_weight)
    return customer_df

**=================================================================== METODO MAIN ====================================================================**

In [10]:
def create_risk_class(person):
    new_customer_df = object_to_dataframe(person)
    tree_df = tree_to_dataframe(person)
    join_tree_customer = join_tree(tree_df, new_customer_df)
    group_tree_customer = group_tree(join_tree_customer)
    customer_df = filter_max_vote(group_tree_customer)
    return customer_df

**================================================================== CASOS TEST F&F ==================================================================**

In [96]:
Luis = CustomerObject(
    gender="male",
    age=30,
    education="bachelor",
    marital="married",
    job="employee"
)

In [97]:
test_tree = ophelia.demograph.tree_generator(Luis)
test_tree

[{'vote': 1, 'weight': 0.6690894709353322, 'risk_label': 'A'},
 {'vote': 1, 'weight': 0.04194664118684746, 'risk_label': 'A'},
 {'vote': 1, 'weight': 0.1343537910837527, 'risk_label': 'MA'},
 {'vote': 1, 'weight': 0.02458102174548487, 'risk_label': 'MA'},
 {'vote': 1, 'weight': 0.13002907504858272, 'risk_label': 'MA'}]

In [45]:
tree_test = [(0.082010605086044, 'A', 1),
             (0.3850774463094979, 'A', 1),
             (0.015561298477192584, 'MA', 1),
             (0.497990606551679, 'MA', 1),
             (0.01936004357558644, 'MA', 1)]

In [ ]:
tree_test

In [60]:
for item in tree_test:
    print(item.count("A"))
    key = item["risk_label"]
    vals = {k:item[k] for k in ["vote", "weight"]}
    dic[key].update(vals)

1

TypeError: tuple indices must be integers or slices, not str

In [ ]:
flatten

In [100]:
from collections import defaultdict, Counter


class ClassificationEngine:    
    
    def __compute(dataset, dic, key):
        weight = dic[key]["weight"]
        vote = dic[key]["vote"]
        N = sum(data['vote'] for data in dataset)
        return round(((weight * (vote / N)) + weight) + vote)

    def compute_probability(dataset):
        group_by_key = "risk_label"
        sum_value_keys = ["vote", "weight"]
        dic = defaultdict(Counter)
        for item in dataset:
            key = item[group_by_key]
            vals = {k:item[k] for k in sum_value_keys}
            dic[key].update(vals)
        for key in dic:
            dic[key] = {
                "vote":dic[key]["vote"],
                "weight":dic[key]["weight"],
                "dotp":ClassificationEngine.__compute(dataset, dic, key)}
        return dic

In [101]:
r = ClassificationEngine.compute_probability(test_tree)
r

defaultdict(collections.Counter,
            {'A': {'vote': 2, 'weight': 0.7110361121221797, 'dotp': 3},
             'MA': {'vote': 3, 'weight': 0.2889638878778203, 'dotp': 3}})

In [30]:
r.keys()

dict_keys(['A', 'MA'])

In [ ]:
for i in dic:
            seq.append(dic.get(i)["dotp"])
        max_dotp = max(seq)
        return [v for k, v in dic.items() if dic.get(k)["dotp"] == max_dotp]

In [ ]:
Bruno = CustomerObject(
    gender="masculino",
    age=62,
    education="primaria",
    marital="casado",
    occupation="retirado"
)

create_risk_class(Bruno).show()

In [ ]:
Claudia = CustomerObject(
    gender="femenino",
    age=52,
    education="media",
    marital="casado",
    occupation="hogar"
)

create_risk_class(Claudia).show()

In [ ]:
Jose = CustomerObject(
    gender="masculino",
    age=62,
    education="superior",
    marital="casado",
    occupation="retirado"
)

create_risk_class(Jose).show()

In [ ]:
Jorge = CustomerObject(
    gender="masculino",
    age=52,
    education="postgrado",
    marital="casado",
    occupation="empleado"
)

create_risk_class(Jorge).show()

In [ ]:
Javier = CustomerObject(
    gender="masculino",
    age=48,
    education="media",
    marital="casado",
    occupation="independiente"
)

create_risk_class(Javier).show()

In [ ]:
Carolina = CustomerObject(
    gender="femenino",
    age=46,
    education="superior",
    marital="casado",
    occupation="independiente"
)

create_risk_class(Carolina).show()

In [ ]:
Magu = CustomerObject(
    gender="femenino",
    age=74,
    education="secundaria",
    marital="viuda",
    occupation="retirado"
)

create_risk_class(Magu).show()

**================================================================== CASOS TEST H ==================================================================**

In [ ]:
# viejo viril
Hipotetico = CustomerObject(
    gender="masculino",
    age=55,
    education="superior",
    marital="casado",
    occupation="empleado"
)
create_risk_class(Hipotetico).show()

In [ ]:
# mujer con negocio de arreglos
Hipotetico2 = CustomerObject(
    gender="femenino",
    age=55,
    education="superior",
    marital="casado",
    occupation="independiente"
)
create_risk_class(Hipotetico2).show()

In [ ]:
# CASO ATÍPICO 1
# caso hombre con edad de triunfo pero con suerte de perro (tipo que se acaba de quedar sin chamba, liquidación? recorte?)
Hipotetico3 = CustomerObject(
    gender="masculino",
    age=47,
    education="superior",
    marital="casado",
    occupation="desempleado"
)
create_risk_class(Hipotetico3).show()

In [ ]:
# caso hipster, hombre regresando de cancún con su pareja, luna de miel?
# con un negocio propio de imprenta en la san antonio abad, estudió diseño gráfico.
Hipotetico4 = CustomerObject(
    gender="masculino",
    age=30,
    education="superior",
    marital="casado",
    occupation="independiente"
)
create_risk_class(Hipotetico4).show()

In [ ]:
# caso hipster, hombre regresando de cancún con su pareja, lina de miel?
# con un negocio propio de imprenta en la san antonio abad, estudió diseño gráfico.
Hipotetico5 = CustomerObject(
    gender="masculino",
    age=35,
    education="secundaria",
    marital="casado",
    occupation="independiente"
)
create_risk_class(Hipotetico5).show()

**=================================================================== FINAL TEST H ===================================================================**

In [37]:
from pyspark.sql.functions import udf, when, rand, struct, array
from pyspark.sql.types import StringType, IntegerType, StructField, StructType, DoubleType, MapType, ArrayType

In [38]:
spark = ophelia.spark
customer_banking = ophelia.mazterize.read_file("data-resources/customer_banking/", "csv", spark)

-Ophelia[INFO]: Reading Spark File [...]
-Ophelia[INFO]: Read CSV Successfully From Path: data-resources/customer_banking/ [...]
========================================================================

In [70]:
from collections import defaultdict, Counter

def __compute(dataset, dic, key):
    weight = dic[key]["weight"]
    vote = dic[key]["vote"]
    N = sum(data['vote'] for data in dataset)
    return round(((weight * (vote / N)) + weight) + vote)

def compute_probability(obj):
    dataset = ophelia.demograph.tree_generator(obj)
    group_by_key = "risk_label"
    sum_value_keys = ["vote", "weight"]
    dic = defaultdict(Counter)
    for item in dataset:
        key = item[group_by_key]
        vals = {k:item[k] for k in sum_value_keys}
        dic[key].update(vals)
    for key in dic:
        dic[key] = {
            "vote":dic[key]["vote"],
            "weight":dic[key]["weight"],
            "dotp":__compute(dataset, dic, key)}
    return dict(dic)

In [74]:
Luis = CustomerObject(
    gender="male",
    age=30,
    education="bachelor",
    marital="married",
    job="employee"
)

In [75]:
a = compute_probability(Luis)

In [76]:
a

{'A': {'vote': 2, 'weight': 0.7110361121221797, 'dotp': 3},
 'MA': {'vote': 3, 'weight': 0.2889638878778203, 'dotp': 3}}

In [103]:
schema_tree = ArrayType(StructType([StructField("weight", DoubleType(), True),
                                    StructField("risk_label", StringType(), True),
                                    StructField("vote", IntegerType(), True)]))

tree_generator_udf = udf(ophelia.demograph.tree_generator, schema_tree)

test_customer_df = customer_banking.select("age", "job", "marital", "education")\
                                   .withColumn("gender", when(rand() > 0.5, "male").otherwise("female"))\
                                   .withColumn("struct", struct(col("gender"), col("age"), col("marital"), col("education"), col("job")))\
                                   .select("*", tree_generator_udf(col("struct")).alias("tree"))
test_customer_df.toPandas()

,age,job,marital,education,gender,struct,tree
0,59,admin.,married,secondary,female,"(female, 59, married, secondary, admin.)","[(0.029937547767209065, MA, 1), (2.33793703395..."
1,56,admin.,married,secondary,male,"(male, 56, married, secondary, admin.)","[(0.029937547767209065, A, 1), (2.337937033957..."
2,41,technician,married,secondary,male,"(male, 41, married, secondary, technician)","[(0.029937547767209065, A, 1), (1.587937033957..."
3,55,services,married,secondary,female,"(female, 55, married, secondary, services)","[(0.029937547767209065, MA, 1), (2.33793703395..."
4,54,admin.,married,tertiary,male,"(male, 54, married, tertiary, admin.)","[(0.029937547767209065, A, 1), (2.337937033957..."
5,42,management,single,tertiary,male,"(male, 42, single, tertiary, management)","[(0.029937547767209065, A, 1), (1.587937033957..."
6,56,management,married,tertiary,female,"(female, 56, married, tertiary, management)","[(0.029937547767209065, MA, 1), (2.33793703395..."
7,60,retired,divorced,secondary,female,"(female, 60, divorced, secondary, retired)","[(0.029937547767209065, MA, 1), (2.33793703395..."
8,37,technician,married,secondary,male,"(male, 37, married, secondary, technician)","[(0.029937547767209065, A, 1), (0.337937033957..."
9,28,services,single,secondary,female,"(female, 28, single, secondary, services)","[(0.029937547767209065, MA, 1), (0.33793703395..."
10,38,admin.,single,secondary,female,"(female, 38, single, secondary, admin.)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11,30,blue-collar,married,secondary,female,"(female, 30, married, secondary, blue-collar)","[(0.029937547767209065, MA, 1), (0.33793703395..."
12,29,management,married,tertiary,female,"(female, 29, married, tertiary, management)","[(0.029937547767209065, MA, 1), (0.33793703395..."
13,46,blue-collar,single,tertiary,female,"(female, 46, single, tertiary, blue-collar)","[(0.029937547767209065, MA, 1), (1.58793703395..."
14,31,technician,single,tertiary,female,"(female, 31, single, tertiary, technician)","[(0.029937547767209065, MA, 1), (0.33793703395..."
15,35,management,divorced,tertiary,male,"(male, 35, divorced, tertiary, management)","[(0.029937547767209065, A, 1), (0.337937033957..."
16,32,blue-collar,single,primary,male,"(male, 32, single, primary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
17,49,services,married,secondary,male,"(male, 49, married, secondary, services)","[(0.029937547767209065, A, 1), (1.587937033957..."
18,41,admin.,married,secondary,female,"(female, 41, married, secondary, admin.)","[(0.029937547767209065, MA, 1), (1.58793703395..."
19,49,admin.,divorced,secondary,male,"(male, 49, divorced, secondary, admin.)","[(0.029937547767209065, A, 1), (1.587937033957..."
20,28,admin.,divorced,secondary,female,"(female, 28, divorced, secondary, admin.)","[(0.029937547767209065, MA, 1), (0.33793703395..."
21,43,management,single,tertiary,female,"(female, 43, single, tertiary, management)","[(0.029937547767209065, MA, 1), (1.58793703395..."
22,43,management,divorced,tertiary,female,"(female, 43, divorced, tertiary, management)","[(0.029937547767209065, MA, 1), (1.58793703395..."
23,43,blue-collar,married,primary,female,"(female, 43, married, primary, blue-collar)","[(0.029937547767209065, MA, 1), (1.58793703395..."
24,37,unemployed,single,secondary,male,"(male, 37, single, secondary, unemployed)","[(0.029937547767209065, A, 1), (0.337937033957..."
25,35,blue-collar,single,secondary,female,"(female, 35, single, secondary, blue-collar)","[(0.029937547767209065, MA, 1), (0.33793703395..."
26,31,technician,single,tertiary,male,"(male, 31, single, tertiary, technician)","[(0.029937547767209065, A, 1), (0.337937033957..."
27,43,blue-collar,single,secondary,female,"(female, 43, single, secondary, blue-collar)","[(0.029937547767209065, MA, 1), (1.58793703395..."
28,31,admin.,married,secondary,male,"(male, 31, married, secondary, admin.)","[(0.029937547767209065, A, 1), (0.337937033957..."
29,28,blue-collar,single,secondary,male,"(male, 28, single, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
...,...,...,...,...,...,...,...
11132,32,blue-collar,married,secondary,male,"(male, 32, married, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
11133,37,management,married,tertiary,female,"(female, 37, married, tertiary, management)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11134,58,self-employed,married,tertiary,female,"(female, 58, married, tertiary, self-employed)","[(0.029937547767209065, MA, 1), (2.33793703395..."
11135,36,services,divorced,secondary,male,"(male, 36, divorced, secondary, services)","[(0.029937547767209065, A, 1), (0.337937033957..."
11136,31,management,single,tertiary,female,"(female, 31, single, tertiary, management)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11137,49,retired,married,unknown,female,"(female, 49, married, unknown, retired)","[(0.029937547767209065, MA, 1), (1.58793703395..."
11138,32,technician,married,secondary,female,"(female, 32, married, secondary, technician)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11139,30,self-employed,single,tertiary,male,"(male, 30, single, tertiary, self-employed)","[(0.029937547767209065, A, 1), (0.337937033957..."
11140,55,services,divorced,secondary,female,"(female, 55, divorced, secondary, services)","[(0.029937547767209065, MA, 1), (2.33793703395..."
11141,32,blue-collar,married,secondary,male,"(male, 32, married, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
11142,52,admin.,divorced,secondary,male,"(male, 52, divorced, secondary, admin.)","[(0.029937547767209065, A, 1), (2.337937033957..."
11143,38,unemployed,divorced,secondary,female,"(female, 38, divorced, secondary, unemployed)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11144,60,retired,married,secondary,female,"(female, 60, married, secondary, retired)","[(0.029937547767209065, MA, 1), (2.33793703395..."
11145,60,retired,divorced,tertiary,female,"(female, 60, divorced, tertiary, retired)","[(0.029937547767209065, MA, 1), (2.33793703395..."
11146,30,admin.,married,secondary,male,"(male, 30, married, secondary, admin.)","[(0.029937547767209065, A, 1), (0.337937033957..."
11147,44,unemployed,married,secondary,male,"(male, 44, married, secondary, unemployed)","[(0.029937547767209065, A, 1), (1.587937033957..."
11148,32,blue-collar,married,secondary,male,"(male, 32, married, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
11149,46,entrepreneur,married,secondary,male,"(male, 46, married, secondary, entrepreneur)","[(0.029937547767209065, A, 1), (1.587937033957..."
11150,34,management,married,secondary,female,"(female, 34, married, secondary, management)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11151,40,management,married,tertiary,male,"(male, 40, married, tertiary, management)","[(0.029937547767209065, A, 1), (0.337937033957..."
11152,34,housemaid,married,secondary,female,"(female, 34, married, secondary, housemaid)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11153,43,admin.,single,secondary,female,"(female, 43, single, secondary, admin.)","[(0.029937547767209065, MA, 1), (1.58793703395..."
11154,52,technician,married,tertiary,female,"(female, 52, married, tertiary, technician)","[(0.029937547767209065, MA, 1), (2.33793703395..."
11155,35,blue-collar,married,secondary,male,"(male, 35, married, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
11156,34,blue-collar,single,secondary,male,"(male, 34, single, secondary, blue-collar)","[(0.029937547767209065, A, 1), (0.337937033957..."
11157,33,blue-collar,single,primary,female,"(female, 33, single, primary, blue-collar)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11158,39,services,married,secondary,male,"(male, 39, married, secondary, services)","[(0.029937547767209065, A, 1), (0.337937033957..."
11159,32,technician,single,secondary,female,"(female, 32, single, secondary, technician)","[(0.029937547767209065, MA, 1), (0.33793703395..."
11160,43,technician,married,secondary,female,"(female, 43, married, secondary, technician)","[(0.029937547767209065, MA, 1), (1.58793703395..."
11161,34,technician,married,secondary,female,"(female, 34, married, secondary, technician)","[(0.029937547767209065, MA, 1), (0.33793703395..."

In [ ]:
[{'vote': 1, 'weight': 0.05626648732591962, 'risk_label': 'A'},
 {'vote': 1, 'weight': 0.02941707529993446, 'risk_label': 'A'},
 {'vote': 1, 'weight': 0.7206887060803939, 'risk_label': 'MA'},
 {'vote': 1, 'weight': 0.0194700408571749, 'risk_label': 'MA'},
 {'vote': 1, 'weight': 0.17415769043657706, 'risk_label': 'MA'}]

In [ ]:
compute_probability_udf = udf(compute_probability)
schema_porb = ArrayType(StructType([StructField("weight", DoubleType(), True),
                                    StructField("risk_label", StringType(), True),
                                    StructField("vote", IntegerType(), True)]))

In [ ]:
test_customer_df = customer_banking.select("age", "job", "marital", "education")\
                                   .withColumn("gender", when(rand() > 0.5, "male").otherwise("female"))\
                                   .withColumn("struct", struct(col("gender"), col("age"), col("marital"), col("education"), col("job")))\
                                   .select("*", tree_generator_udf(col("struct")).alias("tree"))
test_customer_df.toPandas()

In [ ]:
test_customer_df.printSchema()

In [ ]:
test_customer_df.collect()

In [ ]:
customer_banking.select("age", "marital", "education", 
                        when(col("job") == "admin.", lit("employed"))
                        .otherwise(when(col("job") == "management", lit("employed"))
                        .otherwise(when(col("job") == "technician", lit("employed"))
                        .otherwise(when(col("job") == "entrepreneur", lit("self-employed"))
                        .otherwise(when(col("job") == "services", lit("self-employed"))
                        .otherwise(when(col("job") == "self-employed", lit("self-employed"))
                        .otherwise(when(col("job") == "retired", lit("retired"))
                        .otherwise(when(col("job") == "blue-collar", lit("blue-collar"))
                        .otherwise(when(col("job") == "unemployed", lit("unemployed"))
                        .otherwise(when(col("job") == "housemaid", lit("housemaid"))
                        .otherwise(when(col("job") == "student", lit("student")))))))))))).alias("job"))\
                .groupBy(col("job")).count().show()

In [ ]:
360-400

In [ ]:
274+30

In [ ]:
customer_banking.groupBy("poutcome").count().show()

In [ ]:
x = customer_banking.collect()